/*****Global Values*****/
:root {
    --main-grey:rgb(24,26,27);
    --main-light-grey:rgb(198,194,187);
    --main-blue:rgb(57,132,247);
    --site-width:1400px;
    --site-edges:5%;
    background:var(--main-grey);
    color:var(--main-light-grey);
}
html {
  scroll-behavior: smooth;
}
a {
    color: var(--main-light-grey);
    text-decoration: none;
}
a:hover {
    color:var(--main-blue);
}
/*****Screen size scaling*****/

/***Fonts***/
p,a {
    font-family: 'San-Francisco', sans-serif;
}

/*Section Titles*/
.section-title {
    font-family: 'San-Francisco', sans-serif;
    font-weight: 500;
    font-size: 2.6rem;
    letter-spacing: 0.5px;
}
.section-text {
  text-align: center;
  font-size: 2rem;
}

/*****Individual Section Formatting*****/
/*Navigation Bar*/
.navbar {
    position: relative;
    overflow: hidden;
    padding:2em 0 0.5em;
    /* width: 100%-2*var(--site-edges); */
    max-width: var(--site-width);
    margin: 0 auto;
    /* background-color: maroon; */
}
.navbar-links {
    float:right;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 2rem;
}
.navbar-links a{
  padding-left: 2.35rem;
}
.navbar-logo {
    float:left;
    transition: transform 0.3s ease-out;
}
.navbar-logo:hover {
    transform: translateY(-5px);
    opacity: 0.9;
}

/*Introduction*/
.intro-align {
    display: flex;
    max-width: var(--site-width);
    margin-top: 3em;
    margin-left: 7.7em;
    /* background-color: green; */
}
.intro-align h1{
    width: 65%;
    align-items: right;
    line-height: 1.7;
}
.intro-align img{
    padding-top: 9em;
    padding-left: 8em;
}

/*Projects*/
.projects-align{
    max-width: var(--site-width);
    margin: 0 auto;
    /* background-color: maroon; */
}
.projects-align-text{
    text-align: center;
}
.projects-align-showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: blueviolet; */
}
.projects-align .box {
    width: 40%;
    text-align: center;
    font-size: 1.5rem;
    margin: 15px;
    /* background-color: royalblue; */
}

/*About*/
.about-align {
    max-width: var(--site-width);
    margin: 0 auto;
    /* background-color: brown; */
}
.about-align-text {
    font-size: 1.5rem;
}

/*Contact Info*/
.contact-align {
    max-width: var(--site-width);
    margin: 0 auto;
    /* background-color: goldenrod; */
}
.contact-button {
    display:inline-block;
    font-size: 2rem;
    transition: transform 0.3s ease-out;
    padding-left: 4rem;
}
.contact-button:hover {
    transform: translateY(-8px);
}


/* - set up google analytics for site
- Need to fix:
intro section alignment
hover for projects
Hover area padding for links
navigation scroll to area */