/*****Global Settings*****/
:root {
    --main-grey:rgb(24,26,27);
    --main-light-grey:rgb(198,194,187);
    --main-blue:rgb(57,132,247);
    background:var(--main-grey);
    color:var(--main-light-grey);
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
ul {
    list-style:none;
}
/***Fonts***/
p,a {
    font-family: 'San-Francisco', sans-serif;
}


/*****Screen size scaling*****/

/*Section Titles*/
.section-title {
    font-family: 'San-Francisco', sans-serif;
    font-weight: 500;
    font-size: 2.6rem;
    letter-spacing: 0.5px;
    padding-left: 3rem;
}
.section-text {
  text-align: center;
  font-size: 2rem;
}

/*****Individual Section Formatting*****/
/*Navigation Bar*/
.navbar-background {
    height: 2.5rem;
    background-color: var(--main-grey);
}
/*Navigation Bar*/
.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Opaque background */
    background: rgba(24,26,27,0.9);
}
.navbar-logo {
    align-self: flex-end;
    transition: transform 0.3s ease-out;
}
.navbar-logo:hover {
    transform: translateY(-3px);
    opacity: 0.9;
}
.navbar-links {
    display: inline-flex;
    /* background: red; */
}
.navbar-links a {
    padding: 1rem 1.5rem 1rem 1.5rem;
    color: var(--main-light-grey);
    transition: color 0.3s ease-out;
    /* background: yellow; */
}
.navbar-links a:hover {
    color:var(--main-blue);
}
/*Introduction*/

.intro-section {
    width: 100%;
    height: 38vw;
    /* background:maroon; */
}
@keyframes input-fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
.intro-input {
    width: 250px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 17em;
    left: calc(50% - 125px);
    background: none;
    color: white;
    font-size: 30px;
    font-family: 'San-Francisco', sans-serif;
    text-align: center;
    border: 1px solid white;
    background: rgba(255,255,255,0.2);
    animation-name: input-fade;
    animation-duration: 6s;
}
@keyframes instructions-fade {
    from {opacity: 0;}
    to {opacity: 0.5;}
}
.intro-instructions {
    position: absolute;
    top: 36em;
    color: white;
    font-size: 16px;
    opacity: 0.5;
    width: 100%;
    text-align: center;
    margin: 0;
    animation-name: instructions-fade;
    animation-duration: 6s;
  }
/*Projects Section*/
.projects-section {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 4rem;
    font-size: 2rem;
    background-color: var(--main-grey);
}
.projects-section-title {
    max-width: 640px;
    margin: 0 auto 4rem auto;
    text-align: center;
}
.projects-grid-setup {
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    grid-template-rows: 100%;
    grid-gap: 0.9rem;
    width: 98.3%;
    margin: 0 auto;
    margin-bottom: 1rem;
    /* background: orange; */
  }
.projects-tile {
    background: black;
    /* background: white; */
}
.projects-tile-picture {
    width:100%;
    height:100%;
    object-fit: cover;
}
.projects-tile-title {
    font: 2.5rem;
    text-align: center;
    color:var(--main-light-grey);
}
.projects-title-code {
    opacity: 0;
    color:var(--main-blue);
    transition: opacity 0.55s ease-out;
}
.projects-tile:hover .projects-title-code {
    opacity: 1.0;
}

/*About Section*/
.parallax {
    background-image: url("media/about-banner.jpg");
    width: 100%;
    height: 39vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* background-color: brown; */
}
.about-section-text {
    font-size: 1.6rem;
    line-height: 1.6;
    width: 38%;
    padding-left: 10%;
    /* background: red; */
}
.about-text-links {
    color: var(--main-blue);
    position: relative;
}
.about-text-links:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--main-blue);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.about-text-links:hover:after { 
    width: 100%; 
    left: 0; 
}

/*Contact Section*/
.contact-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 5em;
    background-color: var(--main-grey);
}
.contact-sectioning {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-grow: 1;
    padding-top: 2rem;
}
.contact-content{
    display: flex;
    align-self: center;
}
.contact-buttons-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 7rem;
}
.contact-buttons {
    display: inline-block;
    font-size: 2rem;
    transition: transform 0.3s ease-out;
    padding: .45rem 2rem 0rem 2rem;
    color:var(--main-light-grey);
}
.contact-buttons:hover {
    transform: translateY(-8px);
    color:var(--main-blue);
}


/* 
- Need to fix:
change colour schemes (intro and projects/contact section)
intro input and desc, and statistics and CS hyperlinks on nav bar
fix project preview sizes
get project screenshots ontop of mac 
remove horizontal scrollbar
fix 4 sq of projects
hover on project preview to fade in other previews

- Must dos:
** fix positioning for other screen sizes (use vh instead of rem?)
** @media for different screen sizes

- Nice to haves:
find more words to add color accent (my car for blog section?)
    "gearhead" - show youtube and car mods portfolio
persistent nav bar but change colour on scroll
swap light/dark mode
*/

/* 
git remote -v
git push origin (to upload to github)
git fetch origin (to download from github)
*/